body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#right {
	text-align: right;
}

#town_info li {
	padding:0;
	margin:0;
	list-style-type:none;
}

form label {
  color: #59594c;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 0 3px 0;
  text-transform: uppercase;
}

table tr.odd td {
  background-color: #eee;
}

table tr.even td {}


table {
  width: 100%;
}

table.siege_data {
  width: 100%;
}

table.distance_results {
	width: 100%;
}

table th {
  text-align: left;
  padding-left: 20px;
}

table.model_list td.user_name .company_name {
  color: #999984;
  font-size: 12px;
  line-height: 12px;
}

td.user_name p {margin-top: 5px;}

table.model_list td.group_picture img {
  border: 1px solid #86867e;
}

table.model_list td.user_name {
  font-size: 18px;
}

table.model_list td.user_picture {
  padding-left: 0;
  padding-top: 6px;
  width: 41px;
}

table.model_list td.group_picture {
  width: 50px;
}

table td {
  border-top: 1px solid #d7d3ce;
  color: #59594c;
  font-size: 12px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-top: 12px;
  vertical-align: top;
  width: 250px;
}

table td.time {
	width: 600px;
}
