<h1>Search for Players</h1>

<p><h2>By Name</h2></p>
</form>
<%= form_tag players_path, :method => :get %>
Name: <%= text_field_tag :player_name %>
<%= hidden_field_tag :search_type, "name" %>
</form>