<h1>Alliances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>Members</th>
  </tr>

<% @alliances.each do |alliance| %>
  <tr>
    <td><%=h alliance.name %></td>
    <td><%=h alliance.ticker %></td>
    <td><%=h alliance.players.count %></td>
    <td><%= link_to 'View', alliance %></td>
  </tr>
<% end %>
</table>

<br />